#card {
    display: flex;
    flex-direction: row;
    font-size: 1em;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  #cardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 250px;
    width: 15vw;
    min-height: 40vh;
    /* border: 2px solid gold; */
    background-image: url("/public/fifaCardBack (2).png");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 0 1vw;
    margin: 0 0 2vw 2vw;
  }
  
  #cardTop {
    position: relative;
    width: 100%;
    height: 55%;
    border-bottom: 1px dashed black;
    margin-bottom: 15px;
  }
  #cardTop img {
    position: absolute;
    right: 10%;
    bottom: 0;
  
    max-width: 10vh;
    max-height: 15vh;
    background-color: transparent;
  }
  #cardTop p{
      padding-top: 15px;
  }
  #detailsContainer div {
    position: absolute;
    left: 0;
    bottom: 0;
  }
  
  #cardBottom {
    width: 100%;
    text-align: center;
  }
  
  #cardBottom p {
    margin: 0;
    padding: 5px;
  }
  
  #statsContainer {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    width: 100%;
  }
  #lastName{
      font-weight: bold;
  }
